#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


html{
  scroll-behavior: smooth;
}


.title-text{
  color:rgb(240, 229, 229)
}

.title-container {
  width: 100%;
  text-align: left; 
  /* padding-left: 2rem;  */
  display: block;
}

.read-the-docs {
  color: #888;
}

.read-the-docs-fine{
  margin-top: -10px;
  color: #888;
  font-size: smaller;
}

.box {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: aqua;
  ;
}

.footer{
  position: relative;
  display: flex;
}

.app-wrapper{
  justify-content: center;
  display: flex;
  flex-direction: column; 
  width:100;
}


