
.contact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.contact-box {
    background-color: rgba(219, 216, 216, 0.767);
    border-radius: 10px;
    height: 50vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
    width: 25%;
    cursor: pointer;
    transition: background-color 0.6s ease;
    margin: 1rem;
    backdrop-filter: blur(10px); /* initial blur effect */
}
.contact-text {
    color: rgba(104, 104, 104, 0.767);
}

.contact-title {
    color: rgba(0, 0, 0, 0.767);
}


.dark-mode .contact-box {
    background-color: rgba(41, 41, 41, 0.767);
}

.dark-mode .contact-title {
    color: rgba(231, 231, 231, 0.767);
}

.dark-mode .contact-text {
    color: rgb(196, 196, 196);
}

.dark-mode .contact-box:hover {
    
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.7), rgba(44, 41, 41, 0.2));
}

.contact-box h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.contact-box p {
    font-size: 1rem;
    color: #666;
}

.contact-box:hover {
    transform: translateY(-10px);
    background: linear-gradient(135deg, rgba(143, 143, 143, 0.685), rgba(219, 219, 219, 0.767));
    backdrop-filter: blur(15px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    transition: background-color 0.6s ease;
}



@media (max-width: 768px) {
    .contact-box {
        width: 100%; 
        padding: 1rem; 
    }

    .contact-box h2 {
        font-size: 1rem; 
    }

    .contact-box p {
        font-size: 0.8rem; 
    }
}
