@media (max-width: 1024px) {
  .header {
      height: 1rem;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {

  .extra-word {
    display: none; /* Hide nav links initially on mobile */
  }

  .nav-list.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem; /* Position below the header */
    right: 1rem;
    background-color: #111; /* or use a color suitable for your theme */
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .nav-item {
    margin: 0.5rem 0; /* Adjust margin for mobile view */
  }

  .toggle-menu {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 1rem;
  }

  .switch {
    width: 30px;
    height: 15px;
  }

  .handle {
    width: 13px;
    height: 13px;
  }
}


.header {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 1rem; 
  position: fixed;
  top: 0; 
  width: 100%;
  left: 0;
  height: 2rem;
  z-index: 10; 
  -webkit-backdrop-filter: blur(10px); /* Safari-specific prefix */
  backdrop-filter: blur(4px); 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.8s, 
              box-shadow 0.5s ease;
}

.nav {
  display: flex;
  justify-content: center;
}

body {
  transition: background-color 1s ease, 
              color 1s ease;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #6f6f6f;
}

.switch {
  width: 60px;
  height: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  padding: 3px;
  margin: 5px;
  margin-top: -2px;
  margin-right: 30px;
  cursor: pointer;
  background-color: #ccc; 
  transition: background-color 0.3s ;
}

.handle {
  width: 19px;
  height: 19px;
  border-radius: 50%;
  background-color: #000; 
  transition: background-color 0.3s;
}


/* Dark Mode Nav Links */

body.dark-mode .header {
  background-color: rgba(225, 225, 225, 0.7);
  box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
}

body.dark-mode .nav-link {
  color: #1c1c1c;
}

body.dark-mode .nav-link:hover {
  color: #898989;
}

body.dark-mode .nav-item {
  font-style: italic;
  color: #252829;
}

.extra-word {
  margin-left: 1rem;
}



/* Dark Mode Switch */
body.dark-mode .switch {
  background-color: #333;
  transition: background-color 1s;
}

/* Dark Mode Handle */
body.dark-mode .handle {
  background-color: #fff;
}

/* Body and Text Colors in Dark Mode */
body.dark-mode {
  background-color: #b8b8b8;
  color: rgba(255, 255, 255, 0.87);
  transition: background-color 1s, 
              color 1s ease;
}

body.dark-mode .title-text {
  color: #1c1c1c;
}

body.dark-mode .read-the-docs {
  color: #060606;
}

body.dark-mode .read-the-docs-fine {
  color: #5c5c5c;
}

body.dark-mode .project-title{
  color:rgb(21, 21, 21);
  transition: color 0.5s ease;
}

body.dark-mode .project-intro{
  color:rgb(21, 21, 21);
  transition: color 0.5s ease;
}



