.project-title{
    color:rgb(208, 208, 208);
    transition: color 0.5s ease;
}

.project-intro{
    color:rgb(208, 208, 208);
    transition: color 0.5s ease;
}

.gallery-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 10px;
}

.gallery-4 img {
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 5px; 
}


.text{
    width: 50vw;
}

.text-wrapper{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

.tools{
    font-style: italic;
    opacity: 0.5;
    width: 50vw;
}

.tools-wrapper{
    max-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caption{
    opacity: 0.5;
}

.video{
    width: 50vw;
}

.img-wrapper{
    width: 100%;
    height: auto;
    object-fit: cover; 
    border-radius: 5px; 
}