
.header {
  background-color: rgba(255, 255, 255, 0.1); 
  padding: 1rem; 
  position: fixed;
  top: 0; 
  width: 100%;
  left: 0;
  z-index: 10; 
  backdrop-filter: blur(10px); 
  display: flex;
  justify-content: space-between; 
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.time{
  bottom: 0;
}

.nav {
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav-item {
  margin: 0 1rem;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #61dafb;
}

.extra-word {
  margin-left: 1rem;
}

.switch {
  width: 60px;
  height: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  /* justify-content: ${isDarkMode ? 'flex-end' : 'flex-start'}; */
  padding: 3px;
  margin:5px;
  margin-top:-2px;
  margin-right:30px;
  cursor: pointer;

}

.handle {
  width: 19px;
  height: 19px;
  border-radius: 50%;

}

.highlight{
  width:2x;
  height: 2px;
  border-radius: 50%;
}

body.dark-mode {
  background-color: #121212;
  color: rgba(255, 255, 255, 0.87);
}

body.dark-mode .nav-link {
  color: #fff;
}

body.dark-mode .nav-link:hover {
  color: #61dafb;
}

body.dark-mode .nav-item{
  font-style: italic;
  color: #252829;
}


